@page
@model GoogleTimeline.Pages.Account.CreateModel
@{
    ViewData["Title"] = "Create Account";
}
<h1 class="display-4">
    Create account
</h1>
<p>You do not yet have an account for this email. Do you want to create one for @Model.Email?</p>
<form method="post">
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
    <button type="submit">Create account</button>
</form>
