@page
@model GoogleTimeline.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Account";
}

<h1 class="display-4">Welcome!</h1>
<p>You are logged in as: @Model.Email</p>

<a href="@Url.PageLink("/Account/Remove")" role="button" class="btn btn-danger" id="remove-account-button">Remove my account</a>