@page
@model GoogleTimeline.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Account";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>You are logged in as: @Model.Email</p>
</div>
