@page
@model GoogleTimeline.Pages.Timeline.UploadModel
@{
}
<h1 class="display-4">Upload</h1>
<p>
    Select the file your would like to upload:
</p>
<form enctype="multipart/form-data" method="post">
    <input type="file" name="file" id="file" multiple/>
    <button type="submit">Upload</button>
</form>
@if (Model.UploadCompleted)
{
    <p class="mt-4">Upload complete!</p>
}